%flexItemCenter {
    display: flex;
    align-items: center;
}

.logo {
    @extend %flexItemCenter;
    gap: 6px;

    &__img {
        width: 54px;
        height: 54px;
        object-fit: cover;
    }

    &__text {
        color: var(--text-dark);
        font-size: 2.4rem;
        font-weight: 700;
    }
}
