@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.partner {
    width: 100%;
    margin-top: 70px;
    overflow: hidden;
    background: #1eb4829d;

    &__inner {
        @extend %flexItemCenter;
        gap: 55px;
        padding: 26px 0;
    }

    &__img {
        display: block;
        width: 180px;
        height: 90px;
        object-fit: contain;
    }
}
