@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.subscribe {
    position: relative;
    margin-top: 150px;
    background: var(--second-color-bg);

    &::after {
        content: url(../../assets/img/subscribe/bg.png);
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        opacity: 0.5;
        z-index: 1;
    }

    &__inner {
        position: relative;
        @extend %flexItemCenter;
        gap: 70px;
        padding: 100px 0;
        z-index: 2;
    }

    &__img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__btn {
        position: relative;
        color: var(--text-dark);
        background: var(--second-color-btn);
        padding: 15px 35px;
        border-radius: 8px;

        color: var(--text-dark);
        font-size: 1.8rem;
        font-weight: 600;
        transition: 800ms ease all;

        &:hover {
            background: transparent;
            color: #fff;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 2px;
            width: 0;
            background: var(--second-color-btn);
            transition: 400ms ease all;
        }

        &::after {
            right: inherit;
            top: inherit;
            left: 0;
            bottom: 0;
        }

        &:hover::before,
        &:hover::after {
            width: 100%;
            transition: 800ms ease all;
        }
    }
}

.subscribe-content {
    width: 45%;

    &__title,
    &__desc {
        color: #fff;
    }
}
