<div class="container">
    <div class="header__inner">
        <a class="logo" href="./">
            <img src="./assets/img/logo.png" alt="" class="logo__img" />
            <h1 class="logo__text">Dana TourGuide</h1>
        </a>
        <nav class="header-navbar">
            <ul class="header-navbar__list">
                <li class="header-navbar__item">
                    <a href="./index.html" class="header-navbar__link"
                        >Trang chủ</a
                    >
                </li>
                <li class="header-navbar__item">
                    <a href="#!" class="header-navbar__link">Thành Viên</a>
                </li>
                <li class="header-navbar__item">
                    <a href="#!" class="header-navbar__link">Tin tức</a>
                </li>
                <li class="header-navbar__item">
                    <a href="#!" class="header-navbar__link">Bài viết</a>
                </li>
                <li class="header-navbar__item">
                    <a href="#!" class="header-navbar__link">Về chúng tôi</a>
                </li>
                <li class="header-navbar__item">
                    <a href="#!" class="header-navbar__link">Liên hệ</a>
                </li>
            </ul>
        </nav>
        <div class="header-action">
            <a href="#!" class="header-action__link">Đăng nhập</a>
            <a href="#!" class="header-action__btn btn">Đăng ký</a>
        </div>
    </div>
</div>
